node_modules

vendor/Smarty/templates_c/*
vendor/Smarty/cache/*
vendor/Smarty/configs/*

webroot/js/main.min.js
webroot/js/lib/vendors.min.js
webroot/locale/es_ES.js

Lib/FactoryDAO.class.php
include/includeDAO.php

Model/genModel/*
DataAccess/DTO/*
DataAccess/DAO/interfaces/*
DataAccess/DAO/mysql/gen/*